.userAvatar {
    flex: 0 0 200px;
    text-align: center;
}

.userAvatar img {
    width: 100%;
}

.userAvatar button {
    margin-top: 25px;
}

.userInfo {
    margin-top: 30px;
}

.userInfo div:nth-child(even) {
    text-align: right;
}