.header {
    grid-area: header;
    padding: 5px 15px;
    background-color: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
  }
  
  .header img {
    max-height: 90%;
  }

  .login {
    display: flex;
    align-items: center;
  }

  .login button {
    margin-left: 10px;
  }